<div class="container">
    <h4>Описание</h4>
    <p>Добрый день. Это тестовый проект на PHP для изучения работы микрофреймворка Slim и работы с БД</p>
    <p>Здесь представлены записи, которые были сгенерированы нейросетью</p>
</div>